/* 
^ Styling the drop-down menu for language switcher
* Auther : Fadi Nouh
* URL : https://bluebit.dev
* Repository: https://github.com/bluebits-academy/language-switcher
*/

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
body {
  font-family: 'Didact Gothic', sans-serif;
  color: #333;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100px;
}

.lang-menu {
  width: 100px;
  text-align: right;
  font-weight: bold;
  margin-top: 25px;
  position: relative;
}
.lang-menu .selected-lang {
  display: flex;
  color: white;
  justify-content: space-between;
  line-height: 3;
  cursor: pointer;
  margin-top: 0px;
}
/* Flag setting*/
.lang-menu .selected-lang:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  background-image: url(https://www.countryflags.io/us/flat/32.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 45px;
  left: 0px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  text-decoration: none;
  width: 160px;
  padding: 5px 10px;
  display: block;
}

.lang-menu ul li:hover {
  background-color: #f2f2f2;
}

.lang-menu ul li a:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.no:before {
  background-image: url(https://www.countryflags.io/sj/flat/32.png);
}

.en:before {
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.lang-menu:hover ul {
  display: block;
}
.avatar {
  position: relative;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -6px;
  margin-left: -25px;
}
.user-text {
  color: white;
  vertical-align: middle;
  width: 250px;
  height: 25px;
  margin-left: 20px;
  margin-right: -10px;
  margin-top: 32px;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */

.month{
  color: black;
  margin-top: 30px;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
  border-radius: 25px;
}

#myBar {
  width: 100%;
  height: 10px;
  border-radius: 25px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}


/* Info Button */

* {
  transition: all .2s ease;
}

.extra-info {
  display: none;
  line-height: 30px;
  font-size: 12px;
	position: absolute;
  top: 0;
  left: 50px;
}
.icon-info-sign{
  padding-left: 600px;
  
}

.info:hover .extra-info {
  display: block;
}

.info {
  font-size: 20px;
  padding-left: 5px;
  width: 20px;
  border-radius: 15px;
}

.info:hover {
  background-color: white;
  padding: 0 0 0 5px;
  width: 315px;
  text-align: left !important;
}

/* Option */
/* The container */
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */


/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


.confirm-button{
  color: green;
}

.time_left{
   
    color: red;
    
}
.disable-day{
  color: gray;
}
.highlight-day a:not(.disable-day) {
  background-color: blue;
}

/*                 */
.container2 {
  display: flex;
        margin-left: 0px;
        margin-top: 50px;
        margin-right: -670px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1200px;
}
.Container:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  float: left;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  width: 250px;
}
@media screen and (max-width: 600px) {
  .card {
     width: 100%;
  }
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


/* Add padding to containers */
.containery {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  background: #fff;
  width: 100%;
  max-width: 750px;
  position:relative;
  padding: 10px 10px 10px 10px;
  margin: auto;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
#formContent-createCase
  {
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    background: #fff;
    width: 100%;
    max-width: 750px;
    position:relative;
    padding: 10px 10px 10px 10px;
   
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }


#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #f1dce3;
  padding: 15px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



#icon {
  width: 25%;
  border-radius: 50%;

}
#input-buttony {
  background-color: #3160c4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  
}
#logout-buttony {
  background-color: #3160c4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

#userinfobutton {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3160c4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#logout {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #dc4015;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#save {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3160c4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#closeInfo{
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3160c4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#connect{
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1db712;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#userNameFront{
  font-size: 24px;
  text-align: center;
  
}
#cancel-buttony{
  background: rgb(226, 29, 29);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  cursor: pointer;
  font-size: var(--p-font-size);
  line-height: 0px;
  padding: 1.5em 1.3em;
}
#create-button {
  background: rgb(13, 185, 13);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  cursor: pointer;
  font-size: var(--p-font-size);
  line-height: 0px;
  padding: 1.5em 1.3em;
}

#btny1{
 
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    position: relative;
  
}
.input-group-text{
  border-radius: 25px;
  width: 10px;
  height: 10px;
}